<!-- your html code here -->
<div class="row my-5">
    <div class="col-md-9 d-flex flex-row justify-content-end">
        <div>
            <h1>This First Heading <span class="text-secondary">Will Catch Yor Eye</span></h1>

            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis<br>
            euismod semper. Praesent commodo cursus magna, vel scelerisque nisl<br>
            consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <img src="/website/assets/img/1.jpg" class="w-25 rounded-circle">
    </div>
    <div class="col-md-3"></div>
</div>>