<!-- your html code here -->
<div class="row my-5">
    <div class="col-md-9 d-flex flex-row justify-content-end">
        <img src="/website/assets/img/2.jpg" class="w-25 rounded-circle">
        <div class="ms-0">
            <h1>This First Heading <span class="text-secondary">Will Catch Yor Eye</span></h1>
                
            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis<br>
            euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.<br>
            Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>>